# Data Science Tools and Ecosystem

In [1]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Mysql

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. pandas
3. matplotlib
4. seaborn
5. Sckitlearn
6. caret

| Data Science tools |
| -------------------|
| Juypter Notebooks  |
| R studio           |
| Zeppelin Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
a

17

In [9]:
#  This will convert 200 minutes to hours by diving by 60
min_hou = 200 / 60
print(f"200 minutes in hours are {min_hou}")

200 minutes in hours are 3.3333333333333335

# Objectives:
  ## List popular languages for Data Science
  * Python
  * R
  * Mysql
  * Java
  * Julia

## Author
Thiru Selvan CR